.ui-mobile .ui-page-active{
    background: none;
}
body{
    background-image: url(images/image.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: yellow;
    text-align: center;
    color:#fff;
    font-family: 'Lobster', cursive;
    
}


#error{
    background-color: #D87777;
    width: 50%;
    margin: 20px auto;
    font-size: 20px;
}
#inputs{
    padding: 5%;
}
#result{
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5% 0;
    
}

.full-width-slider input {
    display: none !important;
}
